body{

   height:100vh;
}

.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-pexels-introspectivedsgn-12920296 {
    width: 300px;
    height: 200px;
    background-position: -5px -45px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -125px -5px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -165px -5px;
}




article{

    grid-area: art;
    background-color:rgb(116, 68, 80);
}

#länk{
    grid-area: lä;
    background-color: rgb(190, 177, 160);

}

 .responsive {
  width: 100%;
  height: auto;
}

#b1{
    grid-area: b1;
    background-color: rgb(65, 95, 95);
    
}

#responsive{
  width: 100%;
  height: auto;
}

#b2{
    grid-area: b2;
    background-color: rgb(71, 179, 71);
}
header{
    grid-area:h;
    background-color: coral;
}

main{
    grid-area: m;
    background-color: aqua;
}

aside{
    grid-area: as;
    background-color: pink;
   
}


nav{
    grid-area: n;
    background-color: rgb(197, 175, 150);

}

footer{
    grid-area: f;
    background-color: gold;
}


#container{
    display:grid; 
    height: 100%;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 40% 55% 30% 52% 40%;
    gap: 5px;
    grid-template-areas: 



    " h h h  "
    " lä lä m  "
    " as n art "
    " b1 b1 b2 "
    " f f f  "
    
}


@media screen and (max-width:800px){

    #container{

        grid-template-rows: 40% 70% 70% 70% 70% 75% 75% 60%;

        grid-template-areas: 

        " h h h "
        " m m m "
        " lä lä lä "
        " as as n "
        " art art art "
        " b1 b1 b1 "
        " b2 b2 b2"
        " f f f "; 
    }





}